# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    ___ _____  __  _    ___ ___   _   _____   __   #
#   | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /   #
#   | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /    #
#   |___|___/_/\_\ |____|___\___/_/ \_\___| |_|     #
#                                                   #
#     Discord: https://discord.gg/esx-framework     #
#     Website: https://esx-framework.org/           #
# # # # # # # # # # # # # # # # # # # # # # # # # # #


## You CAN edit the following:
endpoint_add_tcp "127.0.0.1:30120"
endpoint_add_udp "127.0.0.1:30120"

sets tags "default, deployer, esx, esx legacy, legacy, official, roleplay"

## You MAY edit the following:
sv_licenseKey "cfxk_TWmqghBepFU02Wk4ISnv_3S7EtG"
sv_hostname "Indonesia | ESX Legacy Server"
sets sv_projectName " Indonesia | [ESX Legacy]"
sets sv_projectDesc "The official recipe of the most popular FiveM RP framework, containing Jobs, Housing, Vehicles & more!"
set mysql_connection_string "mysql://root@localhost/ESXLegacy_FB9784?charset=utf8mb4"

sv_maxclients 48

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.fivem:9077295 group.admin #chillbayy

## pma-voice config
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

## Default & Standalone resources
ensure chat
ensure spawnmanager
ensure hardcap
ensure oxmysql
ensure bob74_ipl
#ensure loadingscreen # enables the default Plume Loadingscreen

## ESX Legacy
ensure es_extended
ensure [core]
ensure [radial menu]
ensure [ox_inventory]
ensure [record]
ensure [Roda_OffDuty-main]
ensure [vehicles]

#mlo
ensure [mlo]

## ESX Addons
ensure [standalone]
ensure [esx_addons]

ensure pma-voice
